a {text-decoration:none;}

div#flashMessage {color:#fff;background:#e12;padding:12px;}

ul#pages {margin:0;padding:0;white-space:nowrap;}
ul#pages li {margin:0;padding:0;display:inline;list-style-type:none;}
ul#pages a {padding:4px 12px;color:#fff;font-weight:bold;font-size:large;}
ul#pages a:active {background-color:#e12;}
ul#pages a:link, ul#pages a:visited {background-color:#07c;}

ul#acts2 {margin:0;padding:0;white-space:nowrap;}
ul#acts2 li {margin:0;display:inline;list-style-type:none;}
ul#acts2 a {padding:4px 12px;color:#333;font-weight:bold;background:#ccc;border:1px solid #888;}

ul#acts {margin:0;padding:0;white-space:nowrap;}
ul#acts li {margin:0;display:inline;list-style-type:none;}
ul#acts a {padding:2px 6px;color:#333;font-size:small;color:#ccc;text-transform:lowercase;border:1px solid #eee;}
/* forms
----------------------------------------------- */
form {
    overflow:hidden;
}
fieldset {
    border:1px solid #bbb;
    padding:10px;
    position:relative;
    background:#e9e9e9;
    margin-bottom:10px;
}
legend {
    font-size:1.1em;
    padding:.4em .8em;
    background:#fff;
    border:1px solid #bbb;
}
fieldset.login {
    margin-bottom:1em;
    margin-top:0pt;
}
fieldset label {
    width:98%;
}
fieldset input {
    width:98%;
}
fieldset textarea {
    width:98%;
}
fieldset select {
    width:99%;
}
fieldset.login label {
    float:left;
    line-height:2em;
    margin-right:3%;
    text-align:right;
    width:32%;
}
fieldset.login input {
    width:60%;
}
fieldset.login input.button {
    margin-left:35%;
}
form div.error-message {
    font-weight:bold;
    color:#e12;
}
input.search.text {
    width:66%;
}
input.search.button {
    width:28%;
    margin-left:2%;
}